.product-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-bottom: 20px;
  background-color: #efefef;
  cursor: pointer;
  position: relative;
  .image-price-rating-container {
    display: flex;
    align-items: center;
    .title-container {
      margin-bottom: 8px;
    }
    .price-container {
      margin-bottom: 60px;
    }
    img {
      width: 200px;
      margin-right: 60px;
    }
  }

  .title-rating-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .desc-actions {
    width: 30%;
    .description-container {
      margin-bottom: 15px;
    }
    .action-container {
      display: flex;
      margin-top: 15px;
      position: absolute;
      bottom: 15px;
      right: 5px;
      .action-icon {
        img {
          width: 25px;
          margin-right: 20px;
          cursor: pointer;
        }
      }
    }
  }
}

input,
textarea {
  font-size: 15px;
  padding: 5px;
  font-family: "Amazon Ember", sans-serif;
}
