.sort-btn {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 35px;
  width: 12%;
  margin: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
}
